<table class="table table-hover">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
        <tr>
            <td>
                {{ option.body }} 
                <a href="{{ url_for('edit_option', poll_id=polls.id, option_id=option.id) }}" class="button"> Edit </a>
                <a href="" id = "{{ option.id }}" class="button"> Delete </a>
            </td>
        </tr>
    </table>

<script>
$("#{{ option.id }}").click(function(){
    if(window.confirm('Are you sure?')){
        alert('test')
        window.location.href = "{{ url_for('deleteOption', poll_id=polls.id, option_id=option.id) }}";
    };
});
</script>