<div class="card bg-light mb-3" >
  <div class="row no-gutters align-items-center">
    
    <div class="col-2">
      <img src="{{ option.url }}" width="150" height="150" class="card-img">
    </div>
    <div class="col-8">
      <div class="card-body">
        <h5 class="card-title">{{ option.body }}</h5>
        <h5 class="card-text"><small class="text-muted">Votes: {{ option.voters.count() }}</small></h5>
      </div>
    </div>
    <div class="col-2 text-center">
          <a class="btn btn-primary btn-md" href="{{ url_for('vote', poll_id=polls.id, option_id=option.id) }}" role="button"> Vote </a>
    </div>
  </div>
</div>
