{% extends "base.html" %}

{% block app_content %}

<style>
    .card-columns {
        column-count: 3;
    }

</style>
    <br> 
	{% if current_user.is_anonymous %}
        <div class="jumbotron">
            <h2 class="display-4">The eminent board games community.</h2>
            <p class="lead">Join our community in just a few clicks. </p>
            <a class="btn btn-primary btn-lg" href="{{ url_for('register') }}" role="button">Sign up</a>
            <a class="btn btn-secondary btn-lg" href= "{{ url_for('about') }}" role="button">About</a>
        </div>
	{% else %}
        <div class="jumbotron">
            <h1 class="display-4">Welcome back, {{ current_user.username }}. </h1>
        </div>
    {% endif %}
    <br>

    <div class="card-columns">
        {% for poll in polls %}
            {% include '_poll.html' %}
        {% endfor %}
    </div>

    <div>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item{% if not prev_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ prev_url or '#' }}">
                        <span aria-hidden="true">&larr;</span> Previous polls
                    </a>
                </li>
                <li class="page-item{% if not next_url %} disabled{% endif %}">
                    <a class="page-link" href="{{ next_url or '#' }}">
                        Older polls <span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>  
    {% block footer %}
        {% include "footer.html" %}
    {% endblock %}
{% endblock %}