{% extends "bootstrap/base.html" %}

{% block app_content %}

	{% if current_user.is_anonymous %}
	<h1>Hi there! Please <a href="{{ url_for('login') }}">sign in</a> or <a href="{{ url_for('register') }}">register</a> to vote.</h1>
    <h1>{{ polls.title }}</h1>
    <br>
    <p> <b>Poll Description:</b> {{ polls.body }} </p>
    <br>
		{% for option in options %}
			<table class="table table-hover">
    		<tr>
    	   		<td>
    	        {{ option.body }} 
				Count:
    	        {{ option.voters.count() }}
    	    	</td>
    		</tr>
			</table>
		{% endfor %}
	{% else %}
	<h1>{{ polls.title }}</h1>

    <br>
    <p> <b>Poll Description:</b> {{ polls.body }} </p>
    
    <br>

	{% for option in options %}
		<div class="card mb-3" style="max-width: 540px;">
  			<div class="row no-gutters">
    			<div class="col-md-4">
     				 <img src="{{option.url}}" class="card-img" alt="image">
    			</div>
    			<div class="col-md-8">
	      			<div class="card-body">
        				<p class="card-text">{{option.body}}</p>
      					</div>
    				</div>
  				</div>
			</div>
    {% endfor %}
	{% endif %}
{% endblock %}