{% extends "base.html" %}

{% block app_content %}
	<div class="fluid-container">
		{% if current_user.is_anonymous %}
			<div class="alert alert-primary" role="alert">
				Please <a href="{{ url_for('login') }}">sign in</a> or <a href="{{ url_for('register') }}">register </a> to vote.
			</div>
			<br>
		{% endif %}	

		<div class="card bg-light mb-3" style="max-width: 1080px;">
			<div class="row no-gutters">
				<div class="col-md-3">
					<img src="{{ polls.image_url }}" class="card-img">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h1>{{ polls.title }}</h1>
						<b>Description</b> <br>
						<p> {{ polls.body }} </p>
					</div>
				</div>
				{% if not current_user.is_anonymous %}
					<img src="{{ current_user.avatar(256) }}">
				{% endif %}	
			</div>
		</div>

		<br>
		{% if not current_user.is_anonymous %}
			{% if current_user.has_voted_poll(polls) %}
				{% for option in options %}
					{% include '_unvoteOption.html' %}     
				{% endfor %}
			{% else %}
				{% for option in options %}
					{% include '_voteOption.html' %}     
				{% endfor %}
			{% endif %}	
		{% else %}
			{% for option in options %}
				{% include '_renderOption.html' %}
			{% endfor %}
		{% endif %}
		
	</div>

{% endblock %}